body {
    overflow-x: hidden;
}

main {
    overflow-y: auto;
}

td:first-child {
    overflow: visible !important;
}

.css-1kwwyae-MuiToolbar-root,
.Mui-TableHeadCell-Content-Actions {
    display: none;
}

.css-13mu4hp-MuiPaper-root-MuiCard-root {
    overflow-x: auto !important;
}

.MuiTableCell-root {
    border-bottom: 1px solid rgba(212, 212, 212, 0.7);
    border-right: 1px solid rgba(212, 212, 212, 0.7);
}

.image_container:hover .image-hover-container {
    width: 220px !important;
    height: 180px !important;
    border: 2px solid #1890ff47;
    box-shadow: 2px 2px 8px #1890ff59;
}

.image-hover-container {
    width: 0px;
    height: 0px;
}
